* {
    margin: 0;
    border: 0;
    background-color: #E4E0D6;
}

#main {
    width: calc(1024px);
}

#header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

.logo {
    width: 10%;
}

.title {
    color: rgba(0, 0, 0, 0.8);
    line-height: 174.11px;
    font-size: 72px;
    margin-right: -250px;
    font-family: 'Bonheur Royale', cursive;
    text-shadow: 3px 3px rgb(255, 255, 255, 0.7) ;
}

.intro-text {
    position: absolute;
    left: 260px;
    line-height: 1.35;
    font-family: 'Crimson Text', serif;
    font-size: 140px;
    background-color: transparent;
}

.intro-text p {
    background-color: transparent;
}

.desc1 {
    color: #fff;
}

@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
    .desc1 {
        color: transparent;
        -webkit-text-stroke: 3px #fff;
    text-stroke: 3px #fff;
        text-shadow: none;
    }
}

@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
    .desc2, .desc3 {
        color: transparent;
        -webkit-text-stroke: 3px #c59a59;
    text-stroke: 3px #b38a4e;
        text-shadow: none;
    }
}

.intro:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.intro {
    position: relative  ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro div {
    float: left;
}

.ava, .gowther {
    display: inline;
    background-color: transparent;
}

.ava {
    margin-left: 200px;
}

.gowther {
    position: absolute;
    right: -260px;
    top: 180px
}

.ava img, .gowther img {
    background-color: transparent;
}

.gowther img {
    width: 55%;
}

.slide-video {
    position: relative;
    z-index: 2;
    margin: 200px 0 0 165px;
    display: inline-block;
    background-color: transparent;
    border: 9px outset #fff;
    width: 851.2px;
    height: 480px;
}

.half-moon {
    position: absolute;
    top: 1050px;
    right: 0;
    z-index: 1;
    display: inline-block;
    width: 30%;
    background-color: transparent;
}

.half-moon img {
    width: 100%;
    background-color: transparent
}

.paragraph {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 180px;
    text-align: center;
    justify-content: center;
}

.paragraph .heading {
    font-family: 'Crimson Text', serif;
    font-size: 240px;
    width: 100%;
    margin-left: 640px;
}

@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
    .paragraph .heading {
        color: transparent;
        -webkit-text-stroke: 4px #c59a59;
    text-stroke: 4px #b38a4e;
        text-shadow: none;
    }
}

.paragraph .sub-heading {
    font-family: 'Merriweather', serif;
    font-size: 32px;
    width: 100%;
    margin-left: 520px;
    color: #b38a4e;
}

.para-text {
    display: flex;
    flex-direction: column;
    width: 40.33%;
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    margin-left: 400px;
}

.para-text div {
    margin: 10px 0;
}

.video {
    background-color: #97907D;
    max-width: 180px;
    padding: 16px 8px 40px;
}

.video1 {
    position: absolute;
    top: 160px;
    left: 150px;
    max-height: 415px;
}

.video2 {
    position: absolute;
    top: 555px;
    left: 40px;
    right: 0;
    max-height: 373px;
}

.video3 {
    max-height: 343px;
    margin-left: 15px;
    margin-top: 100px;
}

.video video {
    width: 100%;
}

.vid-text {
    display: flex;
    font-family: 'Crimson Text', serif;
    font-size: 36px;
    width: 100%;
    margin-left: 45px;
    margin-top: -120px;
    background-color: transparent;     
}

.vid-text.giga-chad {
    font-size: 48px;
    margin-left: 10px;
    margin-top: -60px;
    background-color: transparent;      
}

@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
    .vid-text.giga-chad {
        color: transparent;
        -webkit-text-stroke: 1px #000;
    text-stroke: 1px #000;
        text-shadow: none;
    }
}

.para-img {
    position: absolute;
    background-color: transparent;
    top: 750px;
    left: 280px;
    width: 7%;
}

.star {
    position: absolute;
    background-color: transparent;
    top: 750px;
    right: -100px;
    width: 18%;
}

#footer {
    text-align: center;
    margin-top: 25px; 
}

.btn {
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    border: 1px solid #000;
    padding: 4px 84px;
    background-color: #A77F44;
    cursor: pointer;
    margin-left: 180px;
}

.btn:hover {
    opacity: 0.9;
}

.space {
    height: 50px;
}